<module>
	<rawname>extensionsettings</rawname>
	<repo>unsupported</repo>
	<name>Extension Settings</name>
	<version>2.10.0.0</version>
	<publisher>Mikael Carlsson</publisher>
	<license>GPLv2</license>
	<category>Settings</category>
	<description>Creates a list of all extensions and their current settings for CW, CF, CFB, CFU, VMXB and VMXU</description>
	<menuitems>
		<extensionsettings>Extension Settings</extensionsettings>
	</menuitems>
	<changelog>
		*2.10.0.0* new version changes
		*2.9.0.0* First release, display all settings
	</changelog>
	<md5sum>2e3de1226dd323831b7f87c4aaa88c0d</md5sum>
	<location>release/2.10/extensionsettings-2.10.0.0.tgz</location>
<supported><version>2.10</version></supported></module>
