<module>
	<rawname>extensionsettings</rawname>
	<repo>unsupported</repo>
	<name>Extension Settings</name>
	<version>2.9.0.0</version>
	<publisher>Mikael Carlsson</publisher>
	<license>GPLv2</license>
	<category>Settings</category>
	<description>Creates a list of all extensions and their current settings for CW, CF, CFB, CFU, VMXB and VMXU</description>
	<menuitems>
		<extensionsettings>Extension Settings</extensionsettings>
	</menuitems>
	<changelog>
		*2.9.0.0* First release, display all settings
	</changelog>
	<md5sum>62318f2718970545d8b33531d3142682</md5sum>
	<location>release/2.9/extensionsettings-2.9.0.0.tgz</location>
</module>
